<h1>Referral message</h1>

<p>Thank you for using our service. We are excited to offer you a referral program, where you can invite your friends and earn rewards. Your referral link is:</p>

<p><%= @params[:url] %></p>

<p>Please share this link with your friends and family. When they sign up using your link, you will receive a reward.</p>

<p>Thank you for being a loyal customer!</p>

<p>Best regards,</p>
<p>The Invitation team</p>
